@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  h1 {
    @apply text-xxl font-bold;
  }

  h2 {
    @apply text-xl font-semibold;
  }
  h3 {
    @apply text-lg font-semibold;
  }

  p {
    @apply text-base;
  }
  li {
    @apply text-base;
  }

  section {
    @apply p-10;
  }
}
.df {
  background-color: #217d829e;
}

html,
body {
  overflow-x: hidden !important;
  width: 100% !important;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji",
    "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}
