@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {

  /* h1 {
    @apply text-xxl font-bold;
  }

  h2 {
    @apply text-xl font-semibold;
  }
  h3 {
    @apply text-lg font-semibold;
  }

  p {
    @apply text-base;
  } */
  li {
    @apply text-base;
  }

  section {
    @apply  p-3 md:p-10;
  }
}

:root {
  --mainColor: "#1a3442";
  --mainLayer: "#1a3442e6";
  --mainGold: #C5A363;
  --lightGray: "#EDEDED"
}
.desc{
  white-space: pre-line;

}
::selection {
    background-color: rgba(60, 123, 157, 0.5);
}


@layer components {
  .heading {
    @apply text-lg sm:text-2xl md:text-3xl;
  }

  .paragraph {
    @apply leading-relaxed text-sm sm:text-base md:text-lg
  }
  .btn-boder-white {
    @apply px-6 py-3 border border-lightGray hover:bg-mainColor hover:text-lightGray transition duration-300
  }

  .btn-boder-blue {
    @apply px-6 py-3 border-2 border-mainColor text-mainColor hover:bg-mainColor hover:text-white hover:border-lightGray transition duration-300
  }
}


.df {
  background-color: #217d829e;
}

html,
body {
  overflow-x: hidden !important;
  width: 100% !important;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji",
    "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}
